@charset "utf-8";


/*ν—¤λ”*/
#wrap{}

#header{
    width: 100%;
    display: flex;
}
.hWrap:hover{background: rgba(0,0,0,0.4);}
.hWrap{transition: background 0.6s;}
.hWrap{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 60px;
    display: flex;
}
.hWrap a{color: #f3f3f3;}
.logo{
    padding-top: 10px;
    margin-left: 50px;
}
.logo a img{width: 130px;}

.gnb{
    margin: 0 auto;
    display: table;
}
.gnb li{
    font-size: 1.8rem;
    vertical-align: middle;
    display: table-cell;
    padding: 0 30px;
}
.gnb li:hover a{color: #544F49;}
.gnb li a{transition: color 0.6s;}
.snb{
    margin-right: 100px;
    margin-left: auto;
    display: table;
}
.snb li{
    font-size: 1.4rem;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
}


.snb li:hover a{color: #544F49;}
.snb li a{transition: color 0.6s;}


/*ν‘Έν„°*/
#footer{
    font-size: 1.4rem;
    width: 100%;
    position: relative;
    padding-top: 300px;
    padding-bottom: 100px;
}
#footer::before{
    content: "";
    display: inline-block;
    width: 85%;
    height: 1px;
    background: #9E9487;
    margin-bottom: 100px;
}

.topBtn{
    position: absolute;
    bottom: 410px;
    right: 10%;
    animation: topBtn 0.7s infinite linear alternate;
}

@keyframes topBtn{
    from{bottom: 410px;}
    to{bottom: 400px;}
}

.topBtn a{
    text-align: center;
    display: inline-block;
    color: #9E9487;
    font-size: 1.4rem;
}
.topBtn img{
    padding-bottom: 6px;
    display: block;
}

.fLeft{
    width: 590px;
    margin-left: 20%;
}
.fLogo{padding-bottom: 40px;}
.fLeftTxtBox li{
    padding: 5px 0;
    display: inline-block
}
.copy{padding-bottom: 5%;}
.snsList{}
.snsList li{
    padding-bottom: 10%;
    margin-right: 30px;
    float: left;
}





















